



body{
    text-align: center;
    background: #2c2f59;/*UI-DNA: {{bk}}*/
    color: #d1d1d1;/*UI-DNA: {{font_color}}*/
}

.box{
    display: inline-block;
    width: 102px;/*UI-DNA: {{ww}}px*/
    height: 167px;/*UI-DNA: {{hh}}px*/
 background:#fffc01;/*UI-DNA= background:{{box_bk}};*/
}
