



body{
    text-align: center;
    background: #080a2b;/*UI-DNA: {{bk}}*/
    color: #d1d1d1;/*UI-DNA: {{font_color}}*/
}

.box{
    display: inline-block;
    width: 102px;/*UI-DNA: {{ww}}px*/
    height: 116px;/*UI-DNA: {{hh}}px*/
 background:#1188e8;/*UI-DNA= background:{{box_bk}};*/
}
